@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Quicksand:wght@300;400;500;700&display=swap');

:root {
  --color-bg: #221F3A;
  --color-dark-blue: #292452;
  --color-purple: #B147F8;
  --purple-grad: linear-gradient(267.74deg, #6359D9 -4.45%, #B147F8 105.31%);
  --color-pink: #FB73A3;
  
  --page-max-width: 1200px;
  --small-margin: 100px;
  --big-margin: 200px;
  --input-height: 50px;
  --icon-edge: 35px;
  --icon-warp-edge: 64px;
  --signup-patern-edge: 160px;

  --font-size-12: 12px;
  --font-size-small-text: 16px;
  --font-size-medium-text: 18px;
  --font-size-20: 20px;
  --font-size-big-text: 24px;
  --font-size-small-title: 36px;
  --font-size-medium-title: 40px;
  --font-size-48: 48px;
  --font-size-big-title: 56px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.bold{
  font-weight: bold;
}

body {
  height: 100vh;
  background: linear-gradient(180deg, #9C68FF 0%, rgba(34, 31, 58, 1) 100%);
  background-repeat: no-repeat;
  background-color: var(--color-bg);
  font-family: "Quicksand";
  position: relative;
}

.desktop-hide {
  display: none;
}

.page-width {
  max-width: var(--page-max-width);
  width: 100%;
  margin: auto;
}

.purple-grad {
  background: var(--purple-grad);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.page-container {
  margin-top: 72px;
}

.more-btn {
  width: 180px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background: var(--color-bg);
  border: 1px solid transparent;
  background-clip: padding-box;
  position: relative;
  color: var(--color-purple);
  padding: 0 20px;
}

.more-btn::before {
  content: "";
  position: absolute;
  background-image: var(--purple-grad);
  inset: 0;
  margin: -1px;
  border-radius: inherit;
  z-index: -1;
}

.more-btn > * {
  line-height: 100%;
}


.more-btn > i{
  margin-left: 16px;
  line-height: 100%;
}