.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  height: 72px;
  background-color: #9362f0;
}

.header .header-container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-logo img {
  height: 40px;
  width: auto;
}

.header-nav {
  display: flex;
  align-items: center;
  
}

.header-menu-list {
  display: flex;
  color: white;
  font-weight: 500;
}

.header-menu-item {
  position: relative;
}

.header-menu-item > p { 
  line-height: 32px;
}


.header-menu-item:hover {
  text-decoration: underline;
  color: #000000;
  text-underline-offset: 4px;
}

.header-menu-item:hover .header-submenu-list{
  display: block;
}

.header-submenu-list {
  position: absolute;
  padding: 0 8px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-submenu-item {
  width: max-content;
  min-width: 100%;
  padding: 4px 0;
}

.header-submenu-item + .header-submenu-item {
  border-top: 1px solid #C6C6C6;
}


.header-submenu-list a {
  color: #7D7D7D;
}

.header-menu-item+.header-menu-item {
  margin-left: 35px;
}

.download-btn {
  height: 40px;
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: none;
  margin-left: 35px;
}

.download-btn>p {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: linear-gradient(267.74deg, #6359D9 -4.45%, #B147F8 105.31%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}