.partner {
  width: min-content;
  margin: auto;
  margin-top: var(--big-margin);

}

.partner > h1{
  font-size: var(--font-size-medium-title);
  color: white;
  text-align: center;
}

.partner .content {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-rule: 1px solid white;
  margin-top: var(--small-margin);
}

.partner .goverment > h1 {
  font-size: var(--font-size-medium-title);
}

.partner .goverment p {
  color: white;
  margin-top: 20px;
  line-height: 120%;
  font-size: var(--font-size-medium-text);
}

.partner .goverment img {
  max-width: 260px;
  height: auto;
  margin-top: 44px;
}

.partner .content > * {
  padding: 20px 32px;
}

.partner .content > * + *{
  border-left: 1px solid white;
}


.partner .partner-column > h1 { 
  width: max-content;
  font-size: var(--font-size-20px);
  color: white;
  text-align: center;
}


.partner .partner-column .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}

.partner .partner-column .item-wrap + .item-wrap{
  margin-top: 20px;
}


.partner .partner-column .item-wrap {
  width: 150px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(24.94deg, #672C87 -1.3%, #2D2E79 100.42%);
  border-radius: 18px;
}

.partner .content .item-wrap > img {
  max-width: 80%;
  max-height: 72%;
  object-fit: contain ;
}

.partner .content .wrap-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
}


